.view-id-events.view-display-id-block_overview_teaser .view-content, .view-id-events.view-display-id-block_overview_snippet_vertical .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px -15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 100%;
}
.view-id-events.view-display-id-block_overview_teaser .views-row, .view-id-events.view-display-id-block_overview_snippet_vertical .views-row {
  padding: 0 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
}
@media only screen and (min-width: 640px) {
  .view-id-events.view-display-id-block_overview_teaser .views-row, .view-id-events.view-display-id-block_overview_snippet_vertical .views-row {
    width: 50%;
  }
}
@media only screen and (min-width: 960px) {
  .view-id-events.view-display-id-block_overview_teaser .views-row, .view-id-events.view-display-id-block_overview_snippet_vertical .views-row {
    width: 33.333333%;
  }
}
.view-id-events.view-display-id-block_overview_snippet_horizontal .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px -15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 100%;
}
.view-id-events.view-display-id-block_overview_snippet_horizontal .views-row {
  padding: 0 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
}
@media only screen and (min-width: 960px) {
  .view-id-events.view-display-id-block_overview_snippet_horizontal .views-row {
    width: 50%;
  }
}
