.event {
	&-teaser {

	}
	&-full {

	}
}

.view {
	&-id-events {
		&.view-display-id-block_overview_teaser,
		&.view-display-id-block_overview_snippet_vertical {
			.view-content {
				display: flex;
				margin: -30px -15px 0;
				flex-wrap: wrap;
				align-items: stretch;
				align-content: stretch;
				min-width: 100%;
			}
			.views-row {
				padding: 0 15px;
				margin-top: 30px;
				display: flex;
				align-items: stretch;
				align-content: stretch;
				width: 100%;

				@media only screen and (min-width: 640px) {
					width: 50%;
				}
				@media only screen and (min-width: 960px) {
					width: 33.333333%;
				}
			}
		}
		&.view-display-id-block_overview_snippet_horizontal {
			.view-content {
				display: flex;
				margin: -30px -15px 0;
				flex-wrap: wrap;
				align-items: stretch;
				align-content: stretch;
				min-width: 100%;
			}
			.views-row {
				padding: 0 15px;
				margin-top: 30px;
				display: flex;
				align-items: stretch;
				align-content: stretch;
				width: 100%;

				@media only screen and (min-width: 960px) {
					width: 50%;
				}
			}
		}
	}
}